{% extends 'base.html' %}

{% block content %}

  <h1>{{batch}}</h1>

  <p>{{batch.description}}</p>

  <p>Organisé par :  {{batch.responsable|upper}} {% if talk.speaker.haum %}(Haum){% endif %}</p>

  <h3>Assister à la conférence</h3>
  <form method='post' action="{% url 'batch_form' batch.id %}">{% csrf_token %}
	  {{ form.as_p }}
	  <input type=submit value="S'inscrire"/>
  </form>

  <ul>
    {% for p in batch.participants.all %}
    <li> Auditeur(s) inscrit(s) : {{p.pseudo}}</li>
    {% empty %}
    <li>Aucun auditeur inscrit pour l'instant... Vous peut être ?</li>
    {% endfor %}
  </ul>

  <h3>Talks</h3>

  {% for t in talks %}
    <div id="#{{t.titre|lower|cut:" "}}">
      <h4>Talk n°{{forloop.counter}} : {{t.titre}}</h4>
      <ul>
        <li> Speaker : {{t.speaker}}
      </ul>
      <p>{{t.description}}</p>
    </div>
  {% endfor %}
{% endblock %}

{% block sidebar %}
	<h3><a href={% url 'home' %}>HaumTalks</a></h3>
    <ul>
      <li><a href={% url 'batch_form' batch.id %}>Participer à la conférence</a>
      <li><a href={% url 'talk_form' batch.id %}>Proposer un talk</a>
    </ul>
	<h3>Liste des talks</h3>
    <ul>
      {% for t in talks %}
        <li><a href="#{{t.titre|lower|cut:" "}}">{{t.titre}}</a>
      {% endfor %}
    </ul>

{% endblock %}

{#
vim: ts=2 sw=2 et autoindent
#}
