{% extends 'base.html' %}

{% block content %}

            <h2>Liste des conférences</h2>
            {% for b in batches %}
            <h4>{{b.theme}}</h4>
            <ul>
              <li> description : <p>{{b.description}}</p></li>
              <li> published : {{b.published}}</li>
              <li> interne : {{b.interne}}</li>
              <li> responsable : {{b.responsable}}
              <li> orateurs : <ul>
                {% for o in orateurs %}
                <li>{{o}}</li>
                {% endfor %}
              </ul>
              <li> participants : <ul>
                {% for p in auditeurs %}
                <li>{{p}}</li>
                {% endfor %}
              </ul>
            </ul>
            {% endfor %}
{% endblock %}

{% block sidebar %}
	<h3>Liste des conférences</h3>
	{% for b in batches %}
	<ul>{{b.theme}}</ul>
	{% endfor %}
{% endblock %}
