{% extends 'base.html' %}

{% block content %}

  <h1>HaumTalks - Conférences Libres du HAUM</h1>

  <h2>Késako ?</h2>
  <p>
    Dans son objectif de promouvoir la diffusion de connaisances et les rencontres entre personnes passionnées de nouvelles technologies, de hacks, de DIY, etc. le HAUM lance en 2014 l'organisation de conférences libres. <br /><br />
    Le principe est simple : les conférences libres accessibles à tous regroupent des talks (i.e. des exposés) proposés par les membres du Haum et des personnes extérieures à l'association désireuses de faire découvrir une technologie ou une connaissance.
    Les thèmes abordés sont libres (nous essaierons de les régrouper de sorte que les thématiques proches soient abordées dans une même conférence) et chaque speaker dispose de 10 à 15 min maximum pour son exposé.
    Chaque conférence se terminera par un échange entre speakers et auditeurs, quant aux thèmes abordés durant la soirée. <br /><br />

    Ci-après sont listées les conférences à venir et pour lesquelles vous pouvez vous inscrire comme auditeur ou comme orateur en proposant un talk, le tout librement.
  </p>

  {% for b in batches %}
      <div id="#batch_{{b.id}}">
        <h4><a href={% url 'batch_detail' b.id %}>{{b.theme}}</a></h4>
        <p>{{b.description}}</p>
        <ul>
          <li> {{b.date|date:"\L\e l j F à G\h"}}{% ifnotequal b.date.minute 0%}{{b.date|date:"i"}}{% endifnotequal %}
          <li> Organisateur : {{b.responsable|capfirst}}
          {% if b.talk_set.all %}<li> Talks : {{b.talk_set.all|join:", "}}{% endif %}
        </ul>
      </div>
  {% endfor %}
{% endblock %}

{% block sidebar %}
  <h3>Liste des conférences</h3>
  {% for b in batches %}
      <ul><a href="#batch_{{b.id}}">{{b.theme}}</a></ul>
  {% endfor %}
{% endblock %}
