<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<title>HaumTalks - Conférences Libres du HAUM</title>

  <link rel="stylesheet" href="{{STATIC_URL}}style.css" type="text/css" />

  </head>
  <body>
    <header>
    <h1><a href="/"><img src="{{STATIC_URL}}haumtalks_white_small.png" border=0 alt="HAUM"/> - HAckerspace de l'Université du Maine</a></h1>
    </header>

  	<div id="haum_in">
      <article>
        {% block content %}
        {% endblock %}
      </article>
      <nav>
		  <a href="{% url 'index' %}"><img id="logo" src="{{STATIC_URL}}haum.png" alt="HAUM"/></a>

	    {% block sidebar %}
	    {% endblock %}
      </nav>
    </div>

  <footer>
    HAUM, 2014 - HaumTalks on <a href="http://github.com/haum/haumtalks" target="_blank">Github</a>.
  </footer>

  </body>
</html>
